#exercise-wrapper {
  display: grid;

  grid-template-rows: 100px 1fr 100px;

  grid-template-areas:
    'header'
    'body'
    'footer';
  height: 100%;
}

#header {
  padding-top: 25px;
  grid-area: header;
}

#body {
  grid-area: body;
}

#footer {
  padding-bottom: 25px;
  grid-area: footer;
}