body {
  margin: 0;
  color: #FFFF00;
}

h1 {
  text-align: center;
  margin: 0;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  background-color: #0A0A00;
  height: 100vh;
}

.full-button {
  font-size: 25px;
  display: block;
  width: 100%;
  background-color: #FFFF00;
  color: #0A0A00;
  border: 1px solid #404000;
  transition: background-color 150ms;
  height: 75px;
}

#workout-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#workout-container .full-button:not(:first-child) {
  margin-top: 25px;
}

.full-button:hover, .full-button:active {
  background-color: #E0E000;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
